/*  .logo {
        position: absolute;
        top: 0;
        left: 0;
        margin: 20px;
    }
} */

.Container {
  /* background: url('@assets/images/home.png') no-repeat; */
  height: 100vh;
  background-size: 100% 100vh;
  background-position: top;
  width: 100%;
}
.header {
  flex: 2;
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
}
.text {
  position: absolute;
  background: #fff;
  bottom: 0;
  flex: 1;
  display: grid;
  justify-content: center;
  text-align: center;
  padding: 6% 3%;
}
.text h1 {
  font-size: 55px;
  font-weight: 700;
  line-height: 50px;
  z-index: 9;
}
.text p {
  color: #5b6178;
  font-size: 18px;
}
/* .overlay{
    position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 112px;
} */
