.TaskWork {
    display: flex;
    justify-content:space-between ;
    align-items:center ;
    align-items:center ;
    border: 1px solid #F0F2F6;
    padding:4% 3% ;
    border-radius:8px ;
    font-size:15px ;
  }
/* 
  .TaskWork .logo{
    font-size:14px ;
    font-weight:700 ;
  }
  
  .TaskWork .dot{
    width:8px ;
    height:8px ;
    border-radius:100% ;
    background:#F18341 ;
  }
  .TaskWork .orange{
    font-size:14px ;
    font-weight:700 ;
    color:#F18341 ;
    display: flex;
  } */
