.More_settings p{
    font-size: 15px;
}
.More_settings .Link{
    font-weight: 700;
    font-size: 17px;
    margin-left: 5px;
}
.Sub_setting{
    margin-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}



.Cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding-right: 5px;
    padding: 15px;
    margin-bottom: 5px;
}

.User{
    display: grid;
    place-items: center;
}

.Profile{
    height: 170px;
    width: 170px;
    background-color: pink;
    border-radius: 100%;
}

.UserInfo{
    display: grid;
    place-items: center;
    margin-top: 20px;
}

.UserInfo h2{
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 5px;
}

.Link_settings{
    display: flex;

}
.Cont:hover{
    background-color: #e7e1e1;
    /* color: #fff; */
}
