.active {
    color: #1a1a1a;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: color 0.3s ease;
    /* gap: 8px; */
  }
  
  .active::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%; /* Use 50% for a perfect circle */
    background-color: #1a1a1a; 
    height: 8px;
    width: 8px;
    transition: background-color 0.3s ease;
    
  }
  
  .link {
    color: #8c92ab;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 5px; */
  }
  