.Container{
    padding: 10px;
}
.info{
    padding: 20px;
}
.info h2{
    font-size: 27px;
    font-weight: 800;
}
.info p{
    width: 70%;
    font-size: 17px;
}

.Methods{
    margin-top: 30px;
    padding: 10px;
}
.links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding:13px 0px;
    border-bottom: .5px solid#8C92AB;
}
.links h3{
    font-weight: 700;
    margin-bottom: 5px;
}
.links p{
    font-size: 15px;
}