/* 
    .logo {
      position: absolute;
      top: 20px;
      left: 20px;
    }
    
  } */

.Container {
  background: url("../../../Assets/images/homedark.png") no-repeat;
  height: 100vh;
  background-size: 100% 100vh;
  background-position: top;
  width: 100%;
}
.text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  text-align: center;
  padding: 0 8%;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: white;
  border-radius: 20px 20px 0 0;
}
.text h1 {
  font-size: 3.4rem;
  font-weight: 800;
  line-height: 50px;
}
.text .buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.skip {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.skip span{
  cursor: pointer;
  font-size: 17px;
  margin-top: 15px;
  font-weight: 700;
}

.text p {
  margin-left: auto;
  font-size: 16px;
  font-weight: 700;
}
.header p{
  color: white;
  position: absolute;
  bottom: 270px;
  left: 30px;
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
}