@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  font-family: "Mulish", sans-serif;
}

body {
  display: none;
  font-family: "Mulish", sans-serif;
  touch-action: manipulation;
}

.full-screen {
  margin: 0;
  height: 100dvh;
  width: 100vw;
  overflow: hidden;
  display: block; /* Ensure body is displayed */
}

@media (min-width: 768px) and (max-width: 1024px) {
  body {
    touch-action: pan-y;
    transition: all 1s linear;
    background-repeat: no-repeat;
    font-family: "Mulish", sans-serif !important;
    display: block; /* Ensure body is displayed */
  }

  input:focus {
    outline: none !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
  }

  .full-screen {
    margin: 0;
    height: 100dvh;
    width: 100vw;
    overflow: hidden;
  }
}

@media screen and (max-width: 769px) {
  body {
    touch-action: pan-y;
    width: 100%;
    transition: all 1s linear;
    display: block; /* Ensure body is displayed */
  }

  .full-screen {
    margin: 0;
    height: 100dvh;
    width: 100vw;
    overflow: hidden;
  }
}
