@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
 
  touch-action: manipulation;
  background-color: #fff;
  -webkit-overflow-scrolling: touch;
}

@media (min-width: 768px) and (max-width: 1024px) {
  body {
    touch-action: pan-y;
    -webkit-overflow-scrolling: touch;
    transition: all 1s linear;
  }
}

@media screen and (max-width: 769px) {
  body {
    touch-action: pan-y;
    transition: all 1s linear;
    -webkit-overflow-scrolling: touch;
  }
}
