.chartContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
    margin-top: 15px;
  }
  
  .customItem {
    font-weight: bold;
    font-size: 14px;
    padding: 5px;
  }
  
  .customItemText {
    font-size: 10px;
    color: gray;
  }
  